<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calendario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".ListDataActivity"></activity>-->
        <activity
            android:name=".MainActivity8"
            android:label="Sunday"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity7"
            android:label="Saturday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity6"
            android:label="Friday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity5"
            android:label="Thursday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity4"
            android:label="Wednesday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity3"
            android:label="Tuesday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity2"
            android:label="Monday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Scheme"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>